# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd
import glob
import os

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.

In [2]:
files = glob.glob('Data/*.csv')
df1 = pd.DataFrame()
df2 = pd.DataFrame()
files.sort()
for file in files:
  if os.path.basename(file).find('info') != -1: 
    df1 = pd.concat([df1, pd.read_csv(file)])
  else:
    df2 = pd.concat([df2, pd.read_csv(file)])
df = pd.merge(df1, df2, on='index')
display(df)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
df = df.drop(columns='index')
display(df.head(10))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
print(df.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
display(df.describe().loc[['min', 'max', 'mean', 'std']])

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
if df.isna().sum().sum() == 0:
  print('Пропущенных значений нет.')
else:
  print('Пропущенные значения есть.')

Пропущенных значений нет.

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
print('Math mean score:', df['math score'].mean())
print('Reading mean score:', df['reading score'].mean())
print('Writing mean score:', df['writing score'].mean())

Math mean score: 66.089
Reading mean score: 69.169
Writing mean score: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
courses_gr = df.groupby(by='test preparation course')
display(courses_gr.mean(numeric_only=True).transpose())

test preparation course  completed       none
math score               69.695531  64.077882
reading score            73.893855  66.534268
writing score            74.418994  64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
print(df['lunch'].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
df = df.rename(columns={'parental level of education':'education', 'test preparation course':'test preparation'})
display(df.head())

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
first_result = df[df['math score'] >= passmark]
print('First:', first_result.shape[0] / df.shape[0])

second_result = df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark)]
print('Second:', second_result.shape[0] / df.shape[0])

third_result = df[(df['gender'] == 'female') & (df['test preparation'] != 'completed') & (df['math score'] < passmark)]
print('Third:', third_result.shape[0] / df.shape[0])

First: 0.865
Second: 0.33
Third: 0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
%%time
first_gr = df.groupby(by='race/ethnicity')
first_result = first_gr['reading score'].mean()
display(first_result)
print('\n\n')
second_gr = df.groupby(by='education')
second_result = second_gr['writing score'].min()
display(second_result)
print('\n')

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

CPU times: user 4.02 ms, sys: 1.75 ms, total: 5.77 ms
Wall time: 5.47 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
%%time
first_result = dict()
for i in range(df.shape[0]):
  if first_result.get(df['race/ethnicity'][i]) is None:
    first_result[df['race/ethnicity'][i]] = (df['reading score'][i], 1)
  else:
    first_result[df['race/ethnicity'][i]] = (first_result[df['race/ethnicity'][i]][0] + df['reading score'][i], first_result[df['race/ethnicity'][i]][1] + 1)
for item in first_result.items():
  first_result[item[0]] = item[1][0] / item[1][1]
s_first_result = dict(sorted(first_result.items()))
for item in s_first_result.items():
  print(f'{item[0]}\t\t{s_first_result[item[0]]}')
print('\n\n')

second_result = dict()
for i in range(df.shape[0]):
  if second_result.get(df['education'][i]) is None:
    second_result[df['education'][i]] = df['writing score'][i]
  else:
    second_result[df['education'][i]] = min(second_result[df['education'][i]], df['writing score'][i])
s_second_result = dict(sorted(second_result.items()))
for item in s_second_result.items():
  print(f'{item[0]} = {s_second_result[item[0]]}')
print('\n')

group A		64.67415730337079
group B		67.35263157894737
group C		69.10344827586206
group D		70.03053435114504
group E		73.02857142857142



associate's degree = 35
bachelor's degree = 38
high school = 15
master's degree = 46
some college = 19
some high school = 10


CPU times: user 24.2 ms, sys: 1.24 ms, total: 25.5 ms
Wall time: 25 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [15]:
pivot = pd.pivot_table(data=df, index=['gender', 'education'], values=['math score', 'reading score', 'writing score'], aggfunc=pd.DataFrame.mean)
display(pivot)

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [16]:
def PassedExam(value: int) -> str:
  return 'F' if value < passmark else 'P'

#df['Math_PassStatus'] = df['math score'].map(PassedExam)
#df['Reading_PassStatus'] = df['reading score'].map(PassedExam)
#df['Writing_PassStatus'] = df['writing score'].map(PassedAll)
df.insert(df.shape[1], 'Math_PassStatus', df['math score'].map(PassedExam))
df.insert(df.shape[1], 'Reading_PassStatus', df['reading score'].map(PassedExam))
df.insert(df.shape[1], 'Writing_PassStatus', df['writing score'].map(PassedExam))

print('Passed math exam:', df[df['Math_PassStatus'] == 'P'].shape[0])
print('Didn\'t pass math exam:', df[df['Math_PassStatus'] == 'F'].shape[0])
print()
print('Passed reading exam:', df[df['Reading_PassStatus'] == 'P'].shape[0])
print('Didn\'t pass reading exam:', df[df['Reading_PassStatus'] == 'F'].shape[0])
print()
print('Passed writing exam:', df[df['Writing_PassStatus'] == 'P'].shape[0])
print('Didn\'t pass writing exam:', df[df['Writing_PassStatus'] == 'F'].shape[0])

Passed math exam: 865
Didn't pass math exam: 135

Passed reading exam: 910
Didn't pass reading exam: 90

Passed writing exam: 886
Didn't pass writing exam: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [17]:
def AddOverAllColumn(tmp: pd.DataFrame) -> str:
  return 'P' if (tmp['Math_PassStatus'] + tmp['Reading_PassStatus'] + tmp['Writing_PassStatus']) == 'PPP' else 'F'

df.insert(df.shape[1], 'OverAll_PassStatus', df[['Math_PassStatus','Reading_PassStatus','Writing_PassStatus']].apply(AddOverAllColumn, axis=1))
print('Количество студентов, которые сдали все экзамены:', df[df['OverAll_PassStatus'] == 'P'].shape[0])

Количество студентов, которые сдали все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [18]:
def GetGrade(average_mark: float) -> str:
  if average_mark > 90:
    return 'A'
  elif average_mark >= 80:
    return 'B'
  elif average_mark >= 70:
    return 'C'
  elif average_mark >= 60:
    return 'D'
  elif average_mark >= 50:
    return 'E'
  else:
    return 'F'

temporary = (df['math score'] + df['reading score'] + df['writing score']) / 3
df.insert(df.shape[1], 'Grade', temporary.map(GetGrade))
display(df['Grade'].value_counts().sort_index(ascending=True))

A     50
B    148
C    261
D    256
E    182
F    103
Name: Grade, dtype: int64